/* navbs */

.navbar {
  background-color: rgb(255, 245, 235);
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar img {
  height: 80px;
}
.navbar ul {
  justify-content: end;
}

.navbar i {
  color: #544541;
}

.navbar a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 27px;
  //   font-family: "Bebas Neue";
  color: rgb(71, 45, 12);
}

/* navbs */
