/* tienda page comienza */
.carousel {
  padding: 30px;
  margin-top: 60px;
  width: 100vw;
  height: 95vh;
  justify-content: center;
}

.carousel-inner {
  display: flex;
}

.carousel-inner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid rgb(191, 134, 10);
}

.carousel-control-prev-icon:hover {
  transform: scale(2);
  transition: all 0.5s;
}

.carousel-caption {
  color: #544541;
  background-color: hsla(0, 0%, 100%, 0.701);
  border-radius: 7px;
}
/* cajas */
.cajas {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.caja {
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 2px solid rgb(71, 45, 12);
  border-radius: 3%;
  box-shadow: 0 0 10px rgb(42, 40, 40);
  background-color: aliceblue;
}

.cajas div {
  margin: 20px;
  cursor: pointer;
  transition: all 0.9s;
}

.cajas div:hover {
  transform: scale(1.5);
  transition: 6s;
}

/* tienda page fin */
