.main {
  background-color: rgb(248, 235, 209);
}

.principal {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  background-image: url(../assets/primg-ezgif.com-optipng.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.principal h1 {
  font-size: 50px;
}

.principal h2 {
  font-size: 30px;
}

/* inicia section 1 */
.mod h2 {
  font-size: 35px;
  text-align: center;
  padding: 38px;
  padding-top: 5%;
  color: #544541;
}

.desk {
  padding: 20px;
  padding-bottom: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
  grid-gap: 20px;
}

.item {
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  border: 2px saddlebrown solid;
}

.item1 {
  background-image: url(../assets/pexels-ivan-oboleninov-2916814-ezgif.com-optijpeg.jpg);
  grid-column: 1/2;
  grid-row: 1/2;
}

.item2 {
  background-image: url(../assets/pexels-cottonbro-studio-10669647-ezgif.com-optijpeg.jpg);
}

.item3 {
  background-image: url(../assets/pexels-ranjeet-chauhan-17551715-ezgif.com-optijpeg.jpg);
}

.desk a {
  color: #544541;
  text-decoration: none;
  font-size: 25px;
  grid-area: 2/2;
  text-align: center;
}

.desk a:hover {
  color: rgba(136, 100, 0, 0.416);
}

/* fin de section */
/* navbs */
.navbar {
  background-color: rgb(255, 245, 235);
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar img {
  height: 80px;
}

.navbar ul {
  justify-content: end;
}

.navbar i {
  color: #544541;
}

.navbar a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 27px;
  color: rgb(71, 45, 12);
}

/* navbs */
/* footer inicia */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #544541;
  color: aliceblue;
  font-size: 21px;
  padding: 25px;
}

.sectionf {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  margin: 20px 0;
}

.colorr {
  margin: 10px 0;
  width: 80%;
  background-color: #544541;
  border: solid;
  border-radius: 4px;
  border-color: rgba(139, 105, 3, 0.767);
}

footer a {
  color: rgba(151, 114, 2, 0.767);
  font-size: 28px;
  padding: 5px;
}

.junto {
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  flex: 2;
  padding: 25px;
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
}

.col {
  padding: 3px;
}

/* footer termina */
/* Crear cuenta page inicia */
.ls {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 10px;
}

.login {
  min-width: 250px;
  margin-top: 100px;
}

.iniciars {
  margin: 100px 0 20px;
}

.log {
  width: 345px;
  border: 2px solid rgb(42, 40, 40);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 7px rgb(15, 56, 56);
  color: #544541;
  border-radius: 10px;
  padding: 30px 40px;
}

.log h2 {
  font-size: 36px;
  text-align: center;
}

.log .box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1.5px solid rgb(71, 45, 12);
  font-size: 16px;
  color: rgba(72, 56, 3, 0.799);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

.box input::placeholder {
  color: #544541;
}

.log .cts {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.cts label input {
  accent-color: rgb(3, 6, 8);
  margin-right: 3px;
}

.cts a {
  color: #544541;
  text-decoration: none;
}

.cts a:hover {
  text-decoration: underline;
}

.log .bt {
  width: 100%;
  height: 45px;
  background-color: aliceblue;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(42, 40, 40);
  cursor: pointer;
  font-size: 16px;
  color: #544541;
  font-weight: 600;
}

.log .rgs {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.rgs p a {
  color: rgb(75, 50, 6);
  text-decoration: none;
  font-weight: 600;
}

.rgs p a:hover {
  text-decoration: underline;
}

/* Crear cuenta page fin */
/* inicio page nosotros */
.imp {
  height: 100vh;
  background-image: url(../assets/fondo-ezgif.com-optipng.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pm {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.em {
  min-width: 250px;
  background-color: hsla(0, 0%, 100%, 0.701);
  border: 2px solid rgba(255, 217, 0, 0.329);
  border-radius: 7px;
  padding: 10px;
}

/* nosotros fin */
.us {
  display: flex;
  color: #544541;
  flex-wrap: wrap;
}

.nosotros {
  flex-grow: 1;
  width: 60%;
  justify-content: center;
  font-size: 25px;
  padding: 30px;
}

.nosotros h2 {
  font-size: 55px;
  margin: 15px 0;
}

.menos {
  margin: 5px 0;
  font-size: 17px;
}

.cartera-azul {
  flex-grow: 1;
  width: 35vw;
  min-width: 300px;
  padding: 30px;
}

.cartera-azul img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
  margin-bottom: 30px;
}

.cartera-azul a {
  text-align: center;
  display: flex;
  justify-content: center;
}

.cartera-azul a {
  color: #544541;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #544541;
  padding: 10px 30px;
}

.cards {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.cards .maincontainer {
  width: 250px;
  height: 320px;
}
.cards .maincontainer .thecard {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  color: #fff;
}

.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.thefront img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.thefront h2 {
  line-height: 45px;
  background-color: rgba(9, 9, 9, 0.082);
  text-align: center;
  color: #fff;
}

.theback h2 {
  padding: 30px;
  font-size: 24px;
  text-align: center;
}

.theback p {
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.cartas1 {
  background-color: #f1be86;
}

.cartas2 {
  background-color: #eeac66;
}

.cartas3 {
  background-color: #ea9b46;
}

/* fin page nosotros */
/* pedido empieza */
.carrito {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.carrito h3 {
  padding: 10px;
  font-size: 20px;
  border-radius: 40px;
  box-shadow: 0 0 5px rgb(42, 40, 40);
  background-color: rgba(240, 248, 255, 0.678);
}

.carrito a {
  color: #544541;
}

/* pedido fin */
/* tienda page comienza */
.carousel {
  padding: 30px;
  margin-top: 60px;
  width: 100vw;
  height: 95vh;
  justify-content: center;
}

.carousel-inner {
  display: flex;
}

.carousel-inner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid rgb(191, 134, 10);
}

.carousel-control-prev-icon:hover {
  transform: scale(2);
  transition: all 0.5s;
}

.carousel-caption {
  color: #544541;
  background-color: hsla(0, 0%, 100%, 0.701);
  border-radius: 7px;
}

/* cajas */
.cajas {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.caja {
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 2px solid rgb(71, 45, 12);
  border-radius: 3%;
  box-shadow: 0 0 10px rgb(42, 40, 40);
  background-color: aliceblue;
}

.cajas div {
  margin: 20px;
  cursor: pointer;
  transition: all 0.9s;
}

.cajas div:hover {
  transform: scale(1.5);
  transition: 6s;
}

/* tienda page fin */

/*# sourceMappingURL=style.css.map */
