/* inicio page nosotros */

.imp {
  height: 100vh;
  background-image: url(../assets/fondonosotros.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pm {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.em {
  min-width: 250px;
  background-color: hsla(0, 0%, 100%, 0.701);
  border: 2px solid rgba(255, 217, 0, 0.329);
  border-radius: 7px;
  padding: 10px;
}

/* nosotros fin */
.us {
  display: flex;
  color: #544541;
  flex-wrap: wrap;
}

.nosotros {
  flex-grow: 1;
  width: 60%;
  justify-content: center;
  font-size: 25px;
  padding: 30px;
}
.nosotros h2 {
  font-size: 55px;
  margin: 15px 0;
}
.menos {
  margin: 5px 0;
  font-size: 17px;
}

.cartera-azul {
  flex-grow: 1;
  width: 35vw;
  min-width: 300px;
  padding: 30px;
}

.cartera-azul img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgb(15, 15, 15, 0.5);
  margin-bottom: 30px;
}

.cartera-azul a {
  text-align: center;
  display: flex;
  justify-content: center;
}

.cartera-azul a {
  color: #544541;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #544541;
  padding: 10px 30px;
}
// section card
$verde: #f5cfa6;
$blanco: #fff;

.cards {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;

  .maincontainer {
    width: 250px;
    height: 320px;

    .thecard {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transform-style: preserve-3d;
      transition: all 0.8s ease;
    }
  }
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  color: $blanco;
}

.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.thefront img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.thefront h2 {
  line-height: 45px;
  background-color: rgba(9, 9, 9, 0.082);
  text-align: center;
  color: $blanco;
}

.theback h2 {
  padding: 30px;
  font-size: 24px;
  text-align: center;
}

.theback p {
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: $blanco;
}
@for $i from 1 through 3 {
  .cartas#{$i} {
    background-color: darken($verde, $i * 7%);
  }
}

/* fin page nosotros */
